@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Raleway:wght@802&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('images/pozadi_hra.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.summary {
  border-top: 3px solid;
  border-left: 3px solid;
  border-right: 3px solid;
  border-radius: 10% 10% 0 0;
  color: black;
  width: 25rem;
  background-color: #f5ba4c;
}

.container {
  width: 100%;
  margin: 0 auto;
  height: 300px;
}

h1 {
  font-family: 'Dancing Script';
  font-size: 2.5rem;
  font-weight: 900;
  margin: 1.5rem 0;
}

.description {
  align-items: center;
  font-weight: 100;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem;
}

a {
  font-family: 'Dancing Script';
  text-decoration: none;
  color: black;
  font-size: 4rem;
  font-weight: 450;
}

.hrat {
  border-radius: 0 0 5% 5%;
  font-weight: 250;
  max-width: 25rem;
  border: 3px solid;
  background-color: #dd93ad;
  padding: 1rem 4rem;
  width: 100%;
}

.hrat:hover {
  background-color: #f3c6d3;
  cursor: pointer;
}
