@import url(https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap);
html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  padding-top: 3rem;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
  font-weight: 600;
  color: #dd93ad;
}

/* Media query tablet: */

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
    padding-top: 0;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 24px;
  }
}

/* Media query PC: */

@media screen and (min-width: 960px) {
  body {
    font-size: 18px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 26px;
  }
}

.header_homepage {
  position: relative;
  height: 100vh;
  padding: 20px 40px;
  background: url(../images/bengalska.jpg) 50% 50%;
  background-size: cover;
  color: #fff;
  text-align: center;
}
.header_homepage .video_wrapper {
  display: none;
}
.header_quote {
  font-family: 'Clicker Script', cursive;
  font-size: 1.8em;
}

.header_menu {
  position: relative;
  min-width: 30%;
}

.header_content {
  margin-top: 45%;
}

.header_title-text,
.header_title,
.header_quote {
  text-shadow: 1px 1px 2px rgba(214, 23, 103, 0.5);
}
@media (min-width: 768px) {
  header {
    margin-top: 0;
  }

  .header_menu-buttons {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
  }
  .header_menu-buttons .styled_link a {
    padding: 5px 10px;
  }

  .header_nav {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header_title {
    font-size: 3em;
  }

  .header_title-text {
    font-size: 1.25em;
  }

  .header_content {
    position: relative;
    margin-top: 15%;
    z-index: 2;
  }
}

@media (min-width: 960px) {
  .header_homepage .video_wrapper {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .header_homepage .video_wrapper::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgb(221, 221, 221);
    background: linear-gradient(
      20deg,
      rgba(221, 221, 221, 0) 66%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }

  .header_homepage .video_wrapper video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .header_menu-buttons .styled_link a {
    padding: 10px 30px;
  }
}
.styled_link {
  display: inline-block;
}

.styled_link a {
  padding: 10px 30px;
  margin: 10px;
  border-radius: 3px;
  display: block;
  text-decoration: none;
  color: #fff;
}

.styled_link .default {
  background: #dd93ad;
  text-transform: uppercase;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.styled_link .transparent {
  border: 2px solid #fff;
  border-radius: 3px;
  transition: filter 0.2s ease;
}

.styled_link .default:hover,
.styled_link .default:focus {
  background-color: #dd93ad;
}

@media (min-width: 960px) {
  .styled_link {
    align-self: flex-end;
  }
}

.container_title a {
  padding: 10px 10px;
  text-decoration: none;
  color: #dd93ad;
}
.breeds {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid white;
  margin-top: 0.5rem;
}
.barmska {
  background-image: url('images/barmska.jpg');
}

.sphinx {
  background-image: url('images/sphinx.jpg');
}

.bengalska {
  background-image: url('images/bengalská.jpg');
}

.siamska {
  background-image: url('images/siamská.jpg');
}

.habesska {
  background-image: url('images/habešská.jpg');
}
.birma {
  background-image: url('images/birma\ posvátná.jpg');
}
.mainecoon {
  background-image: url('images/mainecoon.jpg');
}
.nebelung {
  background-image: url('images/Nebelung.jpg');
}
.nevska {
  background-image: url('images/neva.jpg');
}

.norska {
  background-image: url('images/norwegian-forest-cat.webp');
}

.ragdoll {
  background-image: url('images/ragdoll.jpg');
}
.ruska {
  background-image: url('images/ruska.jpg');
}
.thajska {
  background-image: url('images/thajska.jpg');
}
.small {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-size: cover;
  min-height: 90px;
  margin-top: 0.1rem;
}

h2,
h3 {
  order: 1;
}

.coments {
  padding-bottom: 10px;
}

@media (min-width: 480px) {
  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .breeds {
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
  }

  .container-small {
    min-height: 200px;
    width: 50%;
  }

  .barmska,
  .sphinx,
  .bengalska,
  .siamska,
  .birma,
  .nebelung,
  .nevska {
    border-right: 1px solid white;
  }
}
@media (min-width: 860px) {
  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  .breeds {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 300px;
  }

  .container-small {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .coments {
    padding-bottom: 10px;
  }
}
